.twitterContainer {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: block !important;
}

.userContainer {
    padding: 10px 0;
}

.username {
    font-size: xx-large;
    font-weight: 600;
}

.userkey {
    font-weight: 400;
}

.tweetContainer {
    margin-top: 10px;
}

.container {
    background: #111;
    min-height: 100vh;
    color: white;
    padding: 50px 0;
}

.follow_button {
    margin: 0;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    margin: 5px 0;
    margin-bottom: 30px;
}
